# Frontend

# Logs
frontend/logs/
frontend/*.log
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/pnpm-debug.log*
frontend/lerna-debug.log*

# Node modules
frontend/node_modules/

# OS files
frontend/.DS_Store

# Build output
frontend/dist/
frontend/dist-ssr/
frontend/coverage/

# Local environment files
frontend/*.local

# Cypress files
frontend/cypress/videos/
frontend/cypress/screenshots/

# Editor directories and files
frontend/.vscode/
!frontend/.vscode/extensions.json
frontend/.idea/
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?

# TypeScript build info
frontend/*.tsbuildinfo

# Backend

# Node modules
backend/node_modules/

# Package lock
backend/package-lock.json

# Editor directories and files
backend/.vscode/
backend/.idea/
backend/*.suo
backend/*.ntvs*
backend/*.njsproj
backend/*.sln
backend/*.sw?

# TypeScript build info
backend/*.tsbuildinfo