@import './base.css';

body{
  background-color: var(--colour1);
}

#app {
  font-weight: normal;
}

a {
    text-decoration: none;
}


@media (min-width: 1024px) {
  #app {
    grid-template-columns: 1fr 1fr;
  }
}
